# P4 - Estatística

## Ex.1

dados:

In [2]:
import numpy as np
import pandas as pd

In [36]:
A = 'App'
C = 'Credito'
D = 'Dinheiro'
X = np.array([A, A, A, C, C, C, C, C, D, D, D, D])
Y = np.array([20.50, 37.37, 28.64, 51.29, 40.95, 72.65, 132.47, 60.32, 56.65, 123.21, 156.50, 137.29])

In [7]:
data = pd.DataFrame({'Valores': Y},
               index = X)
data

          Valores
App         20.50
App         37.37
App         28.64
Crédito     51.29
Crédito     40.95
Crédito     72.65
Crédito    132.47
Crédito     60.32
Dinheiro    56.65
Dinheiro   123.21
Dinheiro   156.50
Dinheiro   137.29

In [8]:
import autoreload
%load_ext autoreload
%autoreload 2

In [22]:
from P4 import *

In [23]:
ANOVA = tabela_ANOVA_raw(X, Y)

84167.73713833332 95140.1296 70202.52213333332
76.48666666666666

In [21]:
ANOVA.round(4)

         n          SQ         QM       F
Entre    2  13965.2150  6982.6075  5.7274
Dentro   9  10972.3925  1219.1547  5.7274
Total   11  24937.6075  2267.0552  5.7274

In [24]:
0.06/3

0.02

In [25]:
from student import *

In [26]:
t = find_t(1-0.02, 9)
t

2.821

In [28]:
Se = np.sqrt(ANOVA['QM'].loc['Dentro'])
Se

34.916396119344334

In [45]:
C = t*Se
C

98.49915345267037

In [38]:
means = [round(Y[np.argwhere(X==A)].mean(), 2), round(Y[np.argwhere(X==C)].mean(), 2), round(Y[np.argwhere(X==D)].mean(), 2)]

In [39]:
means

[28.84, 71.54, 118.41]

In [37]:
X

array(['App', 'App', 'App', 'Credito', 'Credito', 'Credito', 'Credito',
       'Credito', 'Dinheiro', 'Dinheiro', 'Dinheiro', 'Dinheiro'],
      dtype='<U8')

In [46]:
CC = np.array([np.sqrt((1/3)+(1/4)), np.sqrt((1/3)+(1/5)), np.sqrt((1/4)+(1/5))])
CC = CC*C

In [47]:
CC

array([75.2299711 , 71.93361099, 66.07524085])

In [48]:
means

[28.84, 71.54, 118.41]

In [52]:
(round(means[0]-means[2]-CC[0], 2), round(means[0]-means[2]+CC[0], 2))

(-164.8, -14.34)

In [53]:
(round(means[0]-means[1]-CC[1], 2), round(means[0]-means[1]+CC[1],2))

(-114.63, 29.23)

In [54]:
(round(means[2]-means[1]-CC[2], 2), round(means[2]-means[1]+CC[2],2))

(-19.21, 112.95)

In [55]:
100*(1-0.02)

98.0

## Ex 2.

dados:

In [66]:
table = pd.DataFrame({'X': [22, 25, 15, 19, 22, 18],
                     'Y': [42, 40, 26, 36, 36, 30]},
                    index = ['A', 'B', 'C', 'D', 'E', 'F'])
table

    X   Y
A  22  42
B  25  40
C  15  26
D  19  36
E  22  36
F  18  30

In [60]:
table['X'].mean().round(4)

20.1667

In [62]:
table['Y'].mean().round(4)

35.0

In [63]:
(table['X']*table['Y']).sum()

4330

In [64]:
(table['X']*table['X']).sum()

2503

In [73]:
from P4 import *
alpha_ch, beta_ch = alpha_beta(table, ['X', 'Y'])
round(alpha_ch, 4), round(beta_ch, 4)

(4.5093, 1.5119)

In [76]:
ANOVA = ANOVA_regr(table, ['X', 'Y'])
ANOVA.round(4)

           n       SQ        QM        F
Regressão  1  143.634  143.6340  14.9751
Resíduo    4   38.366    9.5915  14.9751
Total      5  182.000   36.4000  14.9751

In [79]:
(alpha_ch+beta_ch*table['X']).round(4)

A    37.7719
B    42.3077
C    27.1883
D    33.2361
E    37.7719
F    31.7241
Name: X, dtype: float64

In [81]:
Se = np.sqrt(ANOVA['QM'].loc['Resíduo'])
Se

3.097016618673449

In [82]:
t = find_t(1-0.05, 4)
t

2.7760000000000002

In [83]:
x2 = (table['X']**2).sum()
x2

2503

In [86]:
xx_ = ((table['X']-table['X'].mean())**2).sum()
round(xx_, 4)

62.8333

In [90]:
C = round(t*Se*np.sqrt((x2)/(6*xx_)), 4)

In [91]:
alpha_ch-C, alpha_ch+C

(-17.643216180371503, 26.661783819628496)

In [101]:
y_f = round(alpha_ch + beta_ch*25, 4)

In [98]:
round((25-table['X'].mean())**2, 4)

23.3611

In [100]:
C = t*Se*np.sqrt((1/6)+(23.3611/xx_))
C

6.308705729117312

In [104]:
round(y_f-C, 4), round(y_f+C, 4)

(35.999, 48.6164)